---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const team = [
	{
		name: "Mike Ward",
		title: "Former Congressman, founder of Blue Wave America",
		description:
			"“When I represented Louisville, KY in Congress, I saw firsthand how Republicans under Newt Gingrich began working to dismantle democracy and how they have made the lives of rural Americans so much harder. That's why I started Blue Wave America—I know there are still Democrats we can turn out in deep red counties. We did it in 2022 and we are doing it full-steam for 2024.”",
		src: "/people/mike-ward.jpg",
		imgAlt: "Mike Ward",
	},
];
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Blue Wave America</title>
	<link rel="icon" type="image/x-icon" href="/images/favicon.png" />
</head>
<body>
	<Header />
	<main class="mx-auto max-w-4xl">
		<section class="space-y-5 sm:space-y-4">
			<h2 class="text-4xl text-center font-extrabold tracking-tight text-gray-800 sm:text-5xl">Who We Are</h2>
			<p class="text-xl text-gray-500">
				We are a team of rural Democrats across the country working to turn out our neighbors, friends, and
				family to vote Blue. Founded by Mike Ward, a former Congressman from Kentucky, Associate Director of the
				Peace Corps, and veteran Democratic strategist, Blue Wave America has been focused since day one on
				expanding this long-forgotten Democratic constituency.
			</p>
		</section>
		<section class="px-4 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8 lg:py-8">
			<div class="grid grid-cols-1 gap-12 lg:gap-12">
				{
					team.map((teamMember) => (
						<div class="space-y-12 sm:grid sm:grid-cols-1 sm:gap-12 sm:space-y-0 lg:gap-x-8">
							<div class="flex items-center space-x-4 lg:space-x-6 md:mt-12">
								<img alt={teamMember.imgAlt} class="h-auto rounded-md w-44" src={teamMember.src} />
								<div class="space-y-1 text-lg font-medium leading-6">
									<h3 class="text-xl">{teamMember.name}</h3>
									<p class="text-sky-600">{teamMember.title}</p>
									<p class="max-w-xl mt-10 text-lg text-gray-500">{teamMember.description}</p>
								</div>
							</div>
						</div>
					))
				}
			</div>
		</section>
	</main>
</body>
<Footer />
