---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";

const states = [
	{
		name: "Michigan",
		description: "",
    counties: ["Alcona", "Alger", "Alpena", "Antrim", "Arenac", "Baraga", "Barry", "Cheboygan", "Chippewa", "Clare", "Crawford", "Delta", "Dickinson", "Gladwin", "Gratiot", "Huron", "Ionia", "Iosco", "Iron", "Kalkaska", "Lake", "Luce", "Mackinac", "Mason", "Mecosta", "Menominee", "Missaukee", "Montcalm", "Montmorency", "Newaygo", "Oceana", "Ogemaw", "Ontonagon", "Osceola", "Oscoda", "Otsego", "Presque Isle", "Roscommon", "Sanilac", "Schoolcraft", "Tuscola", "Wexford"],
    img: "/graphics/MI-map.png",
    htmlId: "michigan-select"
	},
	{
		name: "North Carolina",
		description: "",
    counties: ["Alexander", "Alleghany", "Ashe", "Avery", "Beaufort", "Burke", "Caldwell", "Camden", "Carteret", "Cherokee", "Chowan", "Clay", "Cleveland", "Craven", "Currituck", "Dare", "Davie", "Gates", "Graham", "Haywood", "Hyde", "Jackson", "Lincoln", "Macon", "Madison", "McDowell", "Mitchell", "Pamlico", "Pender", "Perquimans", "Polk", "Rockingham", "Rutherford", "Sampson", "Stokes", "Surry", "Swain", "Transylvania", "Tyrrell", "Wilkes", "Yadkin", "Yancey"],
    img: "/graphics/NC-map.png",
    htmlId: "north-carolina-select"
	},
	{
		name: "Pennsylvania",
		description: "",
      counties: ["Armstrong", "Bedford", "Bradford", "Cameron", "Carbon", "Clarion", "Clearfield", "Clinton", "Columbia", "Crawford", "Elk", "Forest", "Fulton", "Greene", "Huntington", "Indiana", "Jefferson", "Juniata", "Lawrence", "McKean", "Mifflin", "Montour", "Perry", "Pike", "Potter", "Snyder", "Sommerset", "Sullivan", "Susquehanna", "Tioga", "Union", "Venango", "Warren", "Wayne", "Wyoming"],
      img: "/graphics/PA-map.png",
      htmlId: "pennsylvania-select"
	},
	{
		name: "Wisconsin",
		description: "",
    counties: ["Adams", "Barron", "Buffalo", "Burnett", "Chippewa", "Clark", "Columbia", "Crawford", "Dunn", "Florence", "Forest", "Grant", "Green", "Green Lake", "Iowa", "Iron", "Jackson", "Juneau", "Kewaunee", "Lafayette", "Langlade", "Linkcoln", "Manitowoc", "Marinette", "Menominee", "Monroe", "Oconto", " Oneida", "Pepin", "Pierce", "Polk", "Portage", "Price", "Richland", "Rusk", "Sauk", "Sawyer", "Taylor", "Trempealeau", "Vernon", "Vilas", "Washburn", "Waupaca", "Waushara"],
    img: "/graphics/WI-map.png",
    htmlId: "wisconsin-select"
	},
];
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>Blue Wave America</title>
	<link rel="icon" type="image/x-icon" href="/graphics/favicon.png" />
</head>
<Header />
<main class="flexml-5 my-10">
		<h1 class="text-4xl text-center mb-6 font-extrabold tracking-tight text-sky-600 md:text-5xl">States We're In</h1>
	<section class="flex flex-col gap-8">
		{
			states.map((state) => (
				<div class="flex flex-col px-6 mx-auto max-w-5xl">
					<h2 class="text-3xl font-extrabold text-gray-800">{state.name}</h2>
					<div class="ml-5 mt-3 text-lg">{state.description}</div>
          <div>
            <label for={state.htmlId}>Select a county: </label>
            <select name={state.htmlId} id={state.htmlId} class='ml-10 rounded border-2 border-black'>
              {state.counties.map(county => (
                <option>{county}</option>
              ))}
            </select>
          </div>
					{/* <div>
						<h3 class="my-2 text-2xl font-extrabold text-gray-800">Counties</h3>
						<ul class="grid grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
              {state.counties.map(county => (
                <li>{county}</li>
              ))}
            </ul>
					</div> */}
          <Image src={state.img} alt="State Map" height={1000} width={800} class="my-6 self-center"/>
				</div>
			))
		}
	</section>
</main>
<Footer />
