---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Image } from "astro:assets";

const team = [
	{
		name: "Mike Ward",
		title: "Former Congressman, founder of Blue Wave America",
		description:
			"“When I represented Louisville, KY in Congress, I saw firsthand how Republicans under Newt Gingrich began working to dismantle democracy and how they have made the lives of rural Americans so much harder. That's why I started Blue Wave America—I know there are still Democrats we can turn out in deep red counties. We did it in 2022 and 2024, and we are doing it full-steam for 2025 and 2026.”",
		src: import("../images/people/mike-ward.webp"),
		imgAlt: "Mike Ward",
	},
];
---

<BaseLayout>
	<Header />
	<main class="mx-auto max-w-4xl">
		<section class="space-y-5 sm:space-y-4">
			<h1
				class="text-5xl text-center mb-6 font-extrabold tracking-tight text-sky-600 m:text-3xl"
			>
				Who We Are
			</h1>
			<p class="text-lg text-gray-500">
				We are a team of rural Democrats across the country working to
				turn out our neighbors, friends, and family to vote Blue.
				Founded by Mike Ward, a former Congressman from Kentucky,
				Associate Director of the Peace Corps, and veteran Democratic
				strategist, Blue Wave America has been focused since day one on
				expanding this long-forgotten Democratic constituency.
			</p>
		</section>
		<section
			class="my-4 px-4 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8 lg:py-4"
		>
			<div class="grid grid-cols-1 gap-12 lg:gap-12">
				{
					team.map((teamMember) => (
						<div class="space-y-12 sm:grid sm:grid-cols-1 sm:gap-12 sm:space-y-0 lg:gap-x-8">
							<div class="flex items-center space-x-4 lg:space-x-6">
								<Image
									src={teamMember.src}
									alt={teamMember.imgAlt}
									class="h-auto rounded-md w-44"
                  loading="eager"
								/>
								<div class="space-y-1 text-lg font-medium leading-6">
									<h3 class="text-xl">{teamMember.name}</h3>
									<p class="text-sky-600">
										{teamMember.title}
									</p>
									<p class="max-w-xl mt-10 text-lg text-gray-500">
										{teamMember.description}
									</p>
								</div>
							</div>
						</div>
					))
				}
			</div>
		</section>
	</main>
	<Footer />
</BaseLayout>
